@charset "UTF-8";

*{
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}
nav ul{
    list-style: none;

    display: flex;
    align-items: center;
    gap: 30px;

    position: fixed;
    background-color: aliceblue;
    width: 100%;
    height: 50px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section{
    width: 100vw;
    padding-top: 60px;
    height: 100vh;
    margin: 20x;
}

#sobre{
    background-color: green;
}
#habilidades{
    background-color: rgb(46, 136, 46);
}
#projetos{
    background-color: rgb(87, 138, 87);
}
#contatos{
    background-color: rgb(133, 145, 133);
}